<section class="container">
    <div class="p-grid px-1">
        <div class="p-col-12">
            <h2>Pessoas</h2>
        </div>
    </div>

    <div class="p-grid px-1">
        <label class="mb" style="display: block;">Nome</label>
        <input type="text" pInputText style="width: 100%;">
    </div>

    <div class="p-col-12 px-1">
        <button pButton label="Pesquisar"></button>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
        </div>
    </div>

    <div class="px-1">
        <a pButton label="Nova Pessoa"></a>
    </div>
</section>
