<section class="container">
    <div class="p-grid px-1">
      <div class="p-col-12"> <!-- Título -->
        <h1>Lançamentos</h1>
      </div>
  
      <div class="p-col-12 px-1"> <!-- Descrição -->
        <label style="display: block;" class="mb">Descrição</label>
        <input type="text" pInputText style="width: 100%;">
      </div>
  
      <div class="p-col-12 px-1"> <!-- Vencimento -->
        <label style="display: block;" class="mb">Vencimento</label>
        <input type="text" pInputText style="width: 95px;">
        <label style="margin: 0 .8rem;">até</label>
        <input type="text" pInputText style="width: 95px;">
      </div>
  
      <div class="p-col-12 px-1"> <!-- Botão Pesquisar-->
        <button pButton label="Pesquisar"></button>
      </div>
    </div>
  
    <div class="p-grid"> <!-- Tabela de Lançamentos -->
        <div class="p-col-12">
          <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
        </div>
    </div>
  
    <div class="px-1">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </section>
