<section class="container">
  <div class="ui-g">
    <div class="ui-g-12"> <!-- Título -->
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid"> <!-- Descrição -->
      <label>Descrição</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12"> <!-- Vencimento -->
      <label>Vencimento</label>
      <input type="text" pInputText style="width: 95px;">
      <label>até</label>
      <input type="text" pInputText style="width: 95px;">
    </div>

    <div class="ui-g-12"> <!-- Botão Pesquisar-->
      <button pButton label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-12">
        
      </div>
  </div>
</section>